@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");


.col h1 {
    font-weight: 700;
    color:rgb(140, 140, 194);

}
    
    
.model-detail {
    background-color: burlywood;
}
